@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Postboks 4<br />
    1330 Fornebu<br />
    <abbr title="Phone">P:</abbr>
    92052625
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">ulf.lunde@evry.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@evry.com</a>
</address>
