@{
    ViewData["Title"] = "Index";  // This title never appears. Why?
}

<h2>NumberCount</h2>

   <div>
       <!-- By default, every layout must call RenderBody . Wherever the call to RenderBody is placed, the contents of the view will be rendered. -->
        @RenderBody()
    </div>

<p>This layout is defined by the NumberCountMenu View Template.</p>
<p>Now try appending "NumberCount" to the URL!</p>
